html{
  padding-left: calc(100vw - 100%);
}

body {
  font-family: "Poppins", sans-serif;
}

.badge {
  font-weight: 500;
}

.masthead {
  height: 100vh;
  min-height: 460px;
  background-image: url('/assets/banner.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border: solid 5px #000;
}
